@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');


h1 {
  font-family: 'EB Garamond', serif;
  margin: 16px 0 1px 50px;
  padding: 16px;
  font-family: Garamond, serif;
  text-align: left;
  border-bottom: 2px;
  border-color: white;
}
body {
  margin: 50px 0px 100px 0px;
  padding: 16px;
  background-color: black;
  color: white;
  text-align: left;
  font-size: x-large;
}
.whiteLine {
  background-color: white;
  height: 1px;
}
#q1 {
  margin-top: 50px;
}

.questionContainer {
  margin-bottom: 50px;
}
.whiteLine {
}
/* for the sketch? */
canvas {
  display: block;
}
/* 
.questionContainer {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 16px 20px 100px 0;
  padding: 0px;
}

.question {
  margin-top: 20px;
  margin-bottom: 20px;
}
.answer-dropdown {
  margin: 16px 20px 100px 0;
  background-color: DodgerBlue;
}

.fancyDropdown {
  padding: 10px;
  color: white;
  background: black;
  cursor: pointer;
}
.fancyDropdown:hover {
  background: grey;
}

.dropdown-fields {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
} */
/* .dropdown-fields a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-fields a:hover {
  background: grey;
}

.show {
  display: block;
}
.sketchButton {
  background-color: white;
  color: black;
  border-radius: 10px;
  text-align: center;
  padding: 4px 16px 8px 16px;
  margin-right: 50vw;
}
.sketchButton:hover {
  background: lightblue;
} */

/* @keyframes example {
  from {
    background: red;
  }
  to {
    background: blue;
  }
} */