@font-face {
  font-family: AdobeGaramondPro;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/AdobeGaramondProRegular.ttf");
}

@font-face {
  font-family: AdobeGaramondPro;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/AdobeGaramondProBold.ttf");
}

@font-face {
  font-family: AdobeGaramondPro;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/AdobeGaramondProItalic.ttf");
}

#explainerText {
	height: fit-content;
	max-height: 73vh;
}
#resetButton {
	background-color: white;
	color: black;
	font-family: AdobeGaramondPro;
	padding: 1vw;
	border-radius: 2px;
	margin-left: 5%;
}

@font-face {
  font-family: AdobeGaramondPro;
  font-style: italic;
  font-weight: bold;
  src: url("fonts/AdobeGaramondProBoldItalic.ttf");
}

* {
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
	box-sizing: border-box;
}

.warningMessage {
	width: 30vw;
	font-weight: bold;
	margin-top: 0.5rem;
	text-align: left;
	color: black;
	margin-left: 0;
}

h1 {
	font-family: AdobeGaramondPro;
	font-weight: bold;
	margin: 2.5% 5% 2.5% 5%;
	text-align: left;
}

h3 {
	font-family: AdobeGaramondPro;
	font-weight: bold;
	text-align: left;
}


p {
	font-family: AdobeGaramondPro;
	margin: 2.5% 5% 2.5% 5%;
	text-align: left;
}


a {
  color: #FFFFFF;
}


html {
	font-size: 14px;
	height: 100%;
	scroll-snap-type: y mandatory;
}

@media screen and (min-width: 320px) {
  html {
	  /* changed this to 13 instead of 14 */
    font-size: calc(13px + 6 * ((100vw - 320px) / 680));
	height: 100%;
	scroll-behavior: smooth;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
	height: 100%;
	scroll-behavior: smooth;
  }
}

body {
	min-height: 100%;
	word-break: break-word;
	scroll-behavior: smooth;
}



#opening_screen {
	width: 100%;
	height: 100vh;
	background-color: #000000;
}
.col-1 {
  width: 100%;
  height: 20vh;
  float: left;
  background-color: #000000;
  color: #000000;
  display : flex;
  align-items : center;
  justify-content: left;
}
.col-1 img {
  max-width: 65%;
  max-height: 65%;
  margin: 5%;
}
.col-2 {
  width: 100%;
  height: 50vh;
  float: left;	
  background-color: #FFFFFF;
}
.col-3 {
  width: 100%;
  height: 25vh;
  float: left;	
  background-color: #000000;
}



#question_screen {
	width: 100%;
	height: 100vh;
	background-color: #000000;
} 
.questionContainer {
	height: 100vh;
	margin: 0% 5% 0% 5%;
	color: #FFFFFF;
	font-family: AdobeGaramondPro;
}
.col-1-question {
	width: 100%;
	height: 30vh;
	float: left;
	display : flex;
	align-items : flex-end;
	padding-bottom: 5vh;
}
.col-2-question {
	width: 100%;
	height: 70vh;
	float: left;	
}
.checkBoxes {
	color: white;
	height: fit-content;
	width: 100%
}
section {
	scroll-snap-align: start;
	min-height: 100vh;
}

/* The container must be positioned relative: */
.custom-select {
	position: relative;
	width: 50vw;
}

/*hide original SELECT element: */
.custom-select select {
	display: none; 
}

.select-selected { 
	background-color: white;
	border: 1px solid white;
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "";
	top: 50%;
	right: 3%;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: black transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	border-color: transparent transparent black transparent;
	top: 25%;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
	color: black;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: white;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}


#info {
	width: 100%;
	height: 100vh;
}
.col-1-info {
  width: 100%;
  height: 25vh;
  float: left;
  background-color: #000000;
  color: #000000;
}

.col-2-info {
  width: 100%;
  height: 50vh;
  float: left;	
  background-color: #FFFFFF;
}
.col-3-info {
  width: 100%;
  height: 25vh;
  float: left;	
  background-color: #000000;
}



#viz_screen {
	width: 100%;
	height: 100vh;
	background: #000000;
}


#closing_screen {
	width: 100%;
	height: 100vh;
	background: #000000;
	color: #FFFFFF;
}
.col-1-closing_screen {
  width: 100%;
  height: 40vh;
  float: left;
}
.col-1-closing_screen img {
  max-width: 40%;
  max-height: 40%;
  margin: 5%;
}
.col-2-closing_screen {
  width: 100%;
  height: 40vh;
  float: left;
  display : flex;
  align-items : center;
}
.col-3-closing_screen {
  width: 100%;
  height: 20vh;
  float: left;
  display : flex;
  align-items : center;
}



#scrollButtonContainer {
    position: fixed;
    align-items: center;
    justify-content: center;
	flex-direction: column;
    display: flex;
    bottom: 0;
    right: 2rem;
}
.scrollButton{
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 0.6rem;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}
.scrollButton:hover {
	cursor: pointer;
}